body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background-color: #f0f0f0;
    width: 1000px;
    margin: auto;
    padding: 0;
}

.page {
    background-color: white;
    padding: 0 40px;
}

h2.title {
    font-size: 40px;
    padding-top: 40px;
}

h1.sub-title {
    font-size: 30px;
    font-weight: 400;
}

.content > h3 {
    font-size: 20px;
}

.footer {
    padding: 20px 0;
}

.footer > a {
    font-size: 14px;
    color: black;
    text-decoration: underline;
}
