body {
    background: url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: "Courier New", Courier, monospace;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content-title {
    margin-bottom: 32px;
}

h1.title {
    color: white;
    font-size: 40px;
}

li.nav-item {
    margin: 12px 0;
}

a.home-link {
    color: white;
    font-size: 22px;
}
